.logo:hover {
  transform: scale(1.1);
}

.navbar .nav-item:nth-child(1):hover .nav-link,
.navbar .nav-item:nth-child(2):hover .nav-link,
.navbar .nav-item:nth-child(3):hover .nav-link,
.navbar .nav-item:nth-child(4):hover .nav-link
{
  transform: scale(1.1);
  color: orangered;
}
