.container{
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 200px;
    padding-left: 36px;
    padding-left: var(--c-ps-s, 36px);
    padding-right: 36px;
    padding-right: var(--c-ps-e, 36px);
    width: auto;
    border-radius: 80px;
}

@media (min-width: 600px) and (orientation: landscape), (min-width: 1600px){
    .left{
        flex-basis: 50%;
        flex-grow: 1;
        max-width: 50%;
    }
    .bottom{
        width: 100%;
        display:flex;
        align-self: self-end;
    }
    .card {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .upperlogo{
        display: block;
        width: 100%;
    }
    .signUpLogo{
        margin-top: 2rem;
        margin-left: 2rem;
    }
}